@font-face {
    font-family: 'TT Lakes';
    src: url('Font/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('Font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('Font/TTLakes-Medium.woff2') format('woff2'),
        url('Font/TTLakes-Medium.woff') format('woff'),
        url('Font/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/*@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial'); */
a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.body-container__mobill{
    display: flex;
    padding-left: 24px;
    width: 320px;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px rgba(14.49, 23.84, 80.24, 0.20);
}

.conteiner-top{
    display: flex;
    flex-direction: column;
}

.header-on {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 24px;
    background-color: #FFFFFF;
    margin-right: 24px;
}

.header-сonteiner__mobill{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.btn__round {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    stroke-width: 2px;
    transition: background-color 0.6s ease;
}

.btn__round__icons {
    width: 40px;
    height: 40px; 
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__round__icons_close {
    background-image: url(ic/close.svg);
    margin: 0;
    transition: transform 0.6s ease;
    transform: scale(1);
}

.btn__round__icons_close:hover {
    background-image: url(ic/close2.svg);
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    transform: scale(1.1);
}

.logo{
    width: 100px;
    height: 50px;
}

.btn__round__icons_search{
    background-image: url(ic/search.svg);
    margin: 0;
}

.btn__round__icons_search:hover {
    background-image: url(ic/search2.svg);
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    transform: scale(1.1);
}

.mobile-menu{
    margin-top: 20px;
}

.mobile-menu__item{
    margin-bottom: 32px;
}

.mobile-menu__link {
    text-decoration: none;
    display: flex;
    color: #1B1C21;
    font-size: 16px; 
    font-family: 'TT Lakes'; 
    font-weight: 500; 
    cursor: pointer; 
    transition: color 0.6s;
}

.mobile-menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-menu__list .mobile-menu__item:not(:first-child) .mobile-menu__link:hover {
    color: #FF3E79; 
}

.mobile-menu__list .mobile-menu__link:active,
.mobile-menu__list .mobile-menu__link:focus {
    color: #7E7E82; 
}

.mobile-menu__list .mobile-menu__item:first-child .mobile-menu__link {
    color: #7E7E82; 
}

.mobile-menu__list .mobile-menu__item:first-child .mobile-menu__link:hover {
    color: #7E7E82; 
}

.mobile-menu__list .mobile-menu__item:first-of-type .mobile-menu__link::before {
    content: "";
    width: 4px; 
    height: 32px; 
    transform: rotate(180deg) translateX(-50%);
    transform-origin: 0 0;
    background: #41F6D7;
    position: absolute;
    margin-top: 27px;
    margin-left: -22px;
    border-radius: 20px 0 0 20px;
}

.footer__conteiner_mobill{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    justify-content: space-between;
}

.services__user-menu__footer{
    display: flex;
}

.btn__round__icons_call{
    margin: 0;
}

.btn__round__icons_call{
    margin-right: 10px;
    background-image: url(ic/icon.svg);
}

.btn__round__icons_chat{
    background-image: url(ic/chst1.svg);
}

.btn__round__icons_profille{
    margin-left: 10px;
    background-image: url(ic/profill.svg);
}

.btn__round__icons_call:hover{
    background-image: url(ic/call2.svg);
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    transform: scale(1.1)
}

.btn__round__icons_chat:hover{
    background-image: url(ic/chst2.svg);
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    transform: scale(1.1)
}

.btn__round__icons_profille:hover{
    background-image: url(ic/profill2.svg);
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    transform: scale(1.1)
}

.footer__contact-info_mobill{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.tell-link__footer__contact-info_mobill{
    color: #1B1C21; 
    font-size: 24px; 
    font-family: 'TT Lakes'; 
    font-weight: 700; 
    line-height: 32px;
}

.tell-link__footer__contact-info_mobill:hover{
    transition: color 0.6s;
    color: #FF3E79;
}

.email-link__footer__contact-info_mobill{
    color: #1B1C21; 
    font-size: 16px; 
    font-family: 'TT Lakes'; 
    font-weight: 500; 
    line-height: 24px;
}

.email-link__footer__contact-info_mobill:hover{
    transition: color 0.6s;
    color: #FF3E79;
}

.footer__language_mobolle{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.selected-language:hover{
    color: #FF3E79;
}

.selected-language{
    color: #1B1C21; 
    font-size: 16px; 
    font-family: 'TT Lakes'; 
    font-weight: 500; 
    line-height: 24px;
    cursor: pointer;
}
.selected-language-choisi{
    color: #7E7E82; 
    font-size: 16px; 
    font-family: 'TT Lakes'; 
    font-weight: 500; 
    line-height: 24px;
}